@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #181818;
    color: #fff;
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#right {
    flex: 1;
}

/* Sign In */

#signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

#signin form {
    width: 80%;
    padding-bottom: 2rem;
}

#signin .logo {
    margin-bottom: 5vh;
}

#signin .logo img {
    width: 300px;
}

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background-color: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .btn-primary {
    width: 100%;
}

#signin .btn-secondary,
#signin .or,
#signin .links {
    width: 60%;
}

#signin .links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

#signin .or .bar {
    flex: auto;
    height: 1px;
    background: #aaa;
    border: 0;
}

#signin .or span {
    color: #ccc;
    padding: 0 0.8rem;
}

/* Showcase */

#showcase {
    background: url('../img/login-bg.jpg') no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1.5rem;
}

#showcase .btn-secondary {
    width: 60%;
    margin: auto;
}

/* Footer */

#main-footer {
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 1rem;
}

#main-footer a {
    color: #f96816;
    text-decoration: underline;
}

/* Button */

.btn-primary {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background-color: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.btn-primary:hover {
    background-color: #ff7b39;
}

.btn-secondary {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background-color: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.btn-secondary:hover {
    border-color: #ff7b39;
    color: #ff7b39;
}

/* Media Queries */

@media screen and (min-width: 1200px) {
    #left {
        flex: 4;
    }

    #right {
        flex: 6;
    }
}

@media screen and (max-width: 768px) {
    #left {
        justify-content: start;
        margin-top: 2vh;
    }

    #signin .logo {
        margin-bottom: 2vh;
    }

    #signin .text-input {
        margin-bottom: 0.7rem;
    }

    #main-footer {
        margin-top: 1rem;
    }

    #right {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #signin {
        width: 90%;
    }

    #signin .logo img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    #signin {
        width: 98%;
    }

    #signin .btn-secondary {
        width: auto;
    }
}
